body {
    margin: 0px;
}

main, header, footer, .container {
    margin: auto auto;
    padding: 0 0;
    max-width: 800px;
}

main {
    /* The navbar overlaps this top part of the document. */
    margin-top: 50px;
}

nav {
    border-bottom: 1px solid #cacaca;
    overflow: hidden;
    background-color: #eee;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.28);
}
nav .container {
    height: 100%;
    overflow: hidden;
}
nav a {
    float: left;
    color: #444;
    text-decoration: none;
    border: 0px solid #ccc;
    border-left-width: 1px;
    padding: 6px 6px;
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 12pt;
    transition: background-color 0.2s, box-shadow 0.2s;
}
nav a:last-child {
    border-right-width: 1px;
}
nav a:hover {
    background-color: #fff;
    color: #444;
}
nav a:active, nav a.active {
    background-color: #ddd;
    color: #444;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.28);
}
.logo {
    font-size: 16pt;
    border-left-width: 0px;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 0px;
    transition: text-shadow 0.2s;
}
.logo:hover {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.28);
}
.logo:hover, .logo:active {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

/* Class for the box around entries in mod and version lists */
.block {
    border-style: solid;
    border-width: 1px;
    padding: 12px 20px;
    margin: 8px 0px;
    border-color: #ccc;
    background-color: #eee;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
}
/* Make p tags in blocks more compact */
.block p, .block h1, .block h2, .block h3, .block h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.block h4 {
    margin: 0px 0px;
}

/* Creates a small sub-block in a block with a horizontal rule above it */
.sub-block {
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: #ccc;
    padding-top: 8px;
}

/* A red block used to display warnings. */
.block.warning {
    background-color: #ffc;
}

.urls {
    list-style-type: none;
    padding: 0;
}
.urls li {
    display: inline;
    margin: 0px 4px;
}
.urls li:first-child {
    margin-left: 0px;
}

button, .btn {
    background-color: #6b6;
    padding: 4px 12px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    border-style: none;
    border-radius: 2px;
}
button:hover, .btn:hover {
    background-color: #5a5;
    color: white;
}
button:active, button.active, .btn:active {
    background-color: #494;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.28);
    color: #eee;
}
.btn[disabled] {
    pointer-events: none;
    background-color: #aaa;
}
button:focus {
    outline-style: none;
}

a {
    color: #4a4;
    transition: color 0.3s;
}
a:hover { color: #7c7; }
a:active { color: #282; }

input {
    background-color: #fff;
    padding: 4px 8px;
    transition: box-shadow 0.2s;
    border: 1px solid #ccc;
    border-radius: 2px;
}
input:focus {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.28);
    outline-style: none;
}

hr {
    /* This removes the ugly inset border. It's 2017, that stuff is ugly now */
    border-style: solid;
    border-bottom-width: 0;
    border-color: #CCC;
}

body {
    color: #666;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 18pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 16pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 14pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-size: 10pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h4.file-name {
    font-size: 10pt;
    color: #444;
    font-family: 'Source Code Pro';
}
.hash {
    font-family: 'Source Code Pro';
    overflow-wrap: break-word;
}

textarea {
    height: 160px;
}

footer {
    margin: 8px auto;
    padding: 6px 2px;
    border-style: solid;
    border-color: #CCC;
    border-width: 0px;
    border-top-width: 1px;
}
footer p {
    color: #888;
    font-size: 10pt;
    margin: 0px 0px;
}

/* Accordion */
.accordion {
    transition: max-height 0.4s;
    overflow: hidden;
}
.accordion.hidden {
    max-height: 0;
}

ul.pin-lst {
    list-style: none;
}
ul.pin-lst li.pinned {
    color: #6b6;
}
ul.pin-lst li:before {
    content: 'X';
}
ul.pin-lst li.pinned:before {
    content: '✓';
}

/* Remove ugly dotted outlines in Firefox */
::-moz-focus-inner {
  border: 0;
}
:focus {
  outline: none;
}

/* Desktop */
@media only screen and (min-width:800px) {
    textarea {
        width: 800px;
    }
}

/* Mobile */
@media only screen and (max-width:799px) {
    textarea {
        width: 300px;
    }
}

