main, header, footer {
    margin: auto auto;
    padding: 0 0;
    max-width: 800px;
}

/* Class for the box around entries in mod and version lists */
.block {
    border-style: solid;
    border-width: 1px;
    padding: 12px 20px;
    margin: 4px;
    border-color: #CACACA;
    background-color: #efefef;
}
.block h4 {
    margin: 0px 0px;
}

/* Make p tags in blocks more compact */
.block p, .block h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.urls {
    list-style-type: none;
    padding: 0;
}
.urls li {
    display: inline;
    margin: 0px 4px;
}

.btn {
    border-style: solid;
    border-width: 1px;
    border-color: #5a5;
    background-color: #6b6;
    padding: 4px 12px;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: #8d8;
}

a {
    color: #4a4;
}
a:hover {
    color: #5b5;
}

hr {
    /* This removes the ugly inset border. It's 2017, that stuff is ugly now */
    border-style: solid;
    border-bottom-width: 0;
    border-color: #CCC;
}

body {
    color: #666;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 18pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 16pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 14pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-size: 10pt;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
h4.file-name {
    font-size: 10pt;
    color: #444;
    font-family: 'Source Code Pro';
}
.hash {
    font-family: 'Source Code Pro';
}

textarea {
    height: 160px;
}

footer {
    margin: 8px auto;
    padding: 6px 2px;
    border-style: solid;
    border-color: #CCC;
    border-width: 0px;
    border-top-width: 1px;
}
footer p {
    color: #888;
    font-size: 10pt;
    margin: 0px 0px;
}


/* Desktop */
@media only screen and (min-width:800px) {
    textarea {
        width: 800px;
    }
}

/* Mobile */
@media only screen and (max-width:799px) {
    textarea {
        width: 300px;
    }
}

