{% macro nav_btn(url, text) %}
<a href="{{ url }}" {% if request.path == url %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}

<!doctype html>
<head>
  <title>{% block title %}{% endblock %} &ndash; Minecraft Archive</title>

  <link type="text/css"
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro" rel="stylesheet"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="{{ url_for('home') }}">Minecraft Archive</a>
            {{ nav_btn(url_for('mod_list'), "Browse") }}
        </div>
    </nav>
    <main>
        <noscript>
            <div class="block warning">
                <p>JavaScript is disabled. This website should still be usable
                without it, but some features (such as searching) won't work.
                </p>
            </div>
        </noscript>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>Archive Revision <span class="hash">{{ meta_revision() }}</span>
            (<a href="https://github.com/MCArchive/metarepo">metadata on GitHub</a>)
            &mdash;
            {% if are_updates_enabled() %}
            last update check
            {{ time_since_update().seconds // 60 }}m
            {{ time_since_update().seconds % 60 }}s ago
            {% else %}
            updates disabled for local repo
            {% endif %}
        </p>
        <p>
            {% if 'VSN_GIT' in config %}
            Website Revision <span class="hash">{{ config.VSN_GIT }}</span>
            {% else %}
            Website <em>Development Deployment</em>
            {% endif %}
            (<a href="https://github.com/MCArchive/web">fork us on GitHub</a>)
        </p>
        <p>Copyright &copy; 2017 Minecraft Mod Archive</p>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    {% block js %}
    {% endblock %}
    {% if config.ANALYTICS_ID != None %}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', '{{ config.ANALYTICS_ID }}', 'auto');
     ga('send', 'pageview');
    </script>
    {% endif %}
</body>
