<!doctype html>
<head>
  <title></title>

  <link type="text/css"
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
  />
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro" rel="stylesheet"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>Archive Revision <span class="hash">{{ meta_revision() }}</span></p>
        <p>Copyright &copy; 2017 Minecraft Mod Archive</p>
    </footer>
</body>
