{% extends "base.html" %}

{% block body %}

<h1>{{ mod.name }}</h1>
<p>{{ mod.desc }}</p>

<h2>Archived Versions</h2>

{% for vsn in mod.versions %}
<h3>{{ vsn.name }}</h2>

{% if vsn.desc != "" %}
<p>{{ vsn.desc }}</p>
{% endif %}
<p>Checksum ({{ vsn.hash.type_ }}): {{ vsn.hash.digest }}</p>

<ul>
    {% for url in vsn.urls %}
    <li><a href="{{ url.url }}">
        {{ url_type_name(url.type_) }}
        {% if url.desc != '' %}
        ({{ url.desc }})
        {% endif %}
    </a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}
