{% extends "base.html" %}

{% block title %}{{ mod.name }}{% endblock %}

{% macro vsnblock(vsn) %}
<div class="block">
    <h3>
        {{ vsn.name }}
        {% if len(vsn.mcvsn) > 0 %}
        for Minecraft {{ ", ".join(vsn.mcvsn) }}
        {% endif %}
    </h3>

    {% if vsn.desc != "" %}
    <p>{{ vsn.desc }}</p>
    {% endif %}

    {% for file in vsn.files %}
    <div class="sub-block">
        <h4 class="file-name">{{ file.filename }}</h4>
        <p>Checksum ({{ file.hash.type_ }}): <span class="hash">{{ file.hash.digest }}</span></p>
        <ul class="urls">
            {% for url in file.visible_urls() %}
            <li><a class="btn" href="{{ url.url }}">
                {{ url_type_name(url.type_) }}
                {% if url.desc != '' %}
                ({{ url.desc }})
                {% endif %}
            </a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% block body %}

<h1>{{ mod.name }}</h1>
<p>{{ mod.desc }}</p>

{% for mcv, vsns in mod.vsns_by_mcvsn().items() %}

<h2>For Minecraft {{ mcv }}</h2>

{% if len(vsns) > 0 %}
{{ vsnblock(vsns[0]) }}
{% endif %}

{% if len(vsns) > 1 %}
<button class="accbtn">{{ len(vsns) - 1 }} more</button>
<div class="accordion">
    {% for vsn in vsns[1:] %}
    {{ vsnblock(vsn) }}
    {% endfor %}
</div>
{% endif %}

{% endfor %}

{% endblock %}
